<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.chalmers.projektgrupplp4.studentlivinggbg">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    ;
    <uses-permission android:name="android.permission.INTERNET" />
    ;
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SearchWatcherActivity" />
        <activity
            android:name=".activity.ObjectActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainSearchActivity"
            android:label="@string/title_activity_main_search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FavoritesActivity"
            android:label="@string/title_favorites" />
        <activity
            android:name=".activity.AdvancedSearchActivity"
            android:label="@string/title_activity_advanced_search" />

        <receiver android:name=".backgroundtasks.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".backgroundtasks.AlarmReceiver" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>